<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.leverx.servletapp.user.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CatServlet</servlet-name>
        <servlet-class>com.leverx.servletapp.cat.servlet.CatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatServlet</servlet-name>
        <url-pattern>/cats</url-pattern>
        <url-pattern>/cats/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>UserServletFilter</filter-name>
        <filter-class>com.leverx.servletapp.user.filter.UserServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserServletFilter</filter-name>
        <url-pattern>/users</url-pattern>
        <url-pattern>/users/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CatServletFilter</filter-name>
        <filter-class>com.leverx.servletapp.cat.filter.CatServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CatServletFilter</filter-name>
        <url-pattern>/cats</url-pattern>
        <url-pattern>/cats/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.leverx.servletapp.listener.ContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.leverx.servletapp.listener.RequestListener</listener-class>
    </listener>

    <display-name>Archetype Created Web Application</display-name>
</web-app>